*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu_main {
    background: #fff;
    float: left;
}
.wrapper {
    margin: 0 auto;
}
.wrapper-small {
    max-width: 728px;
}
.wrapper-flush {
    width: 100%;
}
.nav.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}


.nav-container {
    position: fixed;
    top: 62px;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    width: 300px;
    max-width: 70%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
}

.nav-container.is-visible {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nav-toggle {
    line-height: 1;
    display: inline-block;
    padding: 2px;
    border: 0;
    background-color: #fff;
    float: left;
    width: 45px;
    height: 60px;
    position: fixed;
    z-index: 99;
    outline: none;
}

.nav-toggle .icon-menu {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 17px;
    vertical-align: middle;
    fill: none;
}
.icon-menu .line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    background-color: #008898; /*color btn menu mobile*/
}
.icon-menu .line-1 {
    top: 0;
}
.is-active .icon-menu .line-1 {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    -ms-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
}
.icon-menu .line-2 {
    top: 50%;
    margin-top: -1.5px;
}
.is-active .icon-menu .line-2 {
    opacity: 0;
}
.icon-menu .line-3 {
    bottom: 0;
}
.is-active .icon-menu .line-3 {
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu {
    background-color: #058999; /* background menu mobile */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-menu .menu-item {
    border-top: 1px solid #0d8391; /*border menu cấp 1 menu mobile*/
}
.nav-menu > .menu-item.is-active {
    background: #0d738c;
}
.nav-menu > .menu-item:hover {
    background: #0d738c;
}
.nav-menu > .menu-item.is-active.has-dropdown:after,
.nav-menu > .menu-item:hover.has-dropdown:after {
    color: #ffffff;
}
.nav-menu > .menu-item.is-active a,
.nav-menu > .menu-item:hover a {
    color: #ffffff;
}
.nav-dropdown > .menu-item {
    padding-left: 10px;
}

.nav-menu .menu-link {
    color: #fff;
    font-size: 14px;
    display: block;
    text-decoration: none;
    padding: 8px 15px;

}
.has-dropdown {
    position: relative;
    cursor: pointer;
}
.has-dropdown > .menu-link {
    display: inline-block;
}
.has-dropdown:after {
    padding-top: 0px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: "+";
    color: #fff;
    line-height: 39px;
    width: 57px;
    height: 40px;
    text-align: center;
}
.has-dropdown.is-active:after {
    content: "\2013";
}
.nav-dropdown {
    display: none;
    background-color: #0da2b4;
}
.has-dropdown.is-active > .nav-dropdown {
    display: block;
}
.nav-dropdown .nav-dropdown {
    background-color: #aaa;
}
.nav-dropdown .menu-item {
    border-color: #058999;  /*border menu cấp 2 menu mobile*/
}
.nav-dropdown .nav-dropdown .menu-item {
    background-color: rgb(15, 155, 163) !important;
}
.logo_mobile {
    text-align: center;
}
.logo_mobile img {
    width: 180px;
    height: auto;
}
.nav-menu > .menu-item > .menu-link {
    padding: 8px 15px;
}


/*============= menu_desktop ==============*/


@media (min-width: 992px) {
    .nav {
        background-color: rgba(0, 0, 0, 0.65);
    }
    .nav,
    .nav-container,
    .nav-container.is-visible {
        position: static;
        top: auto;
        left: auto;
        z-index: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .nav-container,
    .nav-container.is-visible {
        visibility: visible;
        height: auto;
        min-height: 0;
        overflow-y: visible;
        width: 100%;
        max-width: 100%;
    }
    .nav-toggle {
        display: none;
    }
    .nav-menu > .menu-item:hover,
    .nav-menu > .menu-item.is-active {
        background-color: transparent;
    }
    .nav-menu .menu-item {
        -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    .has-dropdown:after {
        content: "" !important; /*icon dropdown menu pc */
        font: normal normal normal 14px/1 FontAwesome;
        color: #000;
    }
    .nav-menu > .menu-item.is-active.has-dropdown:after,
    .nav-menu > .menu-item:hover.has-dropdown:after {
        color: red;/*color khi hover icon dropdown menu pc */
    }
    .nav-menu > .menu-item:hover.has-dropdown:after {
        border-color: transparent transparent transparent transparent !important;
    }
    .menu-item:hover.has-dropdown:after {
        border-color: rgb(117, 173, 33) transparent transparent transparent !important;

    }
    .nav-menu > .has-dropdown:after {
        position: absolute;
        top: 50%;
        right: 3px;
        width: 0;
        height: 0;
        margin-top: -12px;
        margin-left: -4px;
        content: "";
        border-width: 5px 5px 0 5px;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
    }
    .has-dropdown > .menu-link {
        padding-right: 2rem;
    }
    .nav-dropdown {
        left: 0px;
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 215px;
        margin: 0;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.15);
        visibility: hidden;
        -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
        transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    }
    .has-dropdown:hover > .nav-dropdown {
        visibility: visible;
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .nav-dropdown .menu-item {
        border: 0;
        margin-top: 1px;
    }
    .nav-dropdown .menu-item:last-child {
        border: 0;
        border-bottom: none;
    }
    .nav-dropdown .menu-item:hover,
    .nav-dropdown .nav-dropdown .menu-item:hover {
        background-color: #008795; /* background khi hover  menu cấp 2 pc */
    }
    .nav-dropdown .menu-item:hover .menu-link,
    .nav-dropdown .menu-item:hover .menu-link {
        color: #ffffff;
    }
    .nav-dropdown .nav-dropdown,
    .nav-dropdown .nav-dropdown .menu-item {
        background-color: #dedede;
    }
    .nav-dropdown .nav-dropdown {
        z-index: 998;
        top: 0;
        left: 100%;
    }

    /*padding, color, font-size menu pc*/
    .nav-menu > .menu-item > .menu-link {
        display: block;
        line-height: 20px;
        padding: 11px 13px 21px 13px;
        font-size: 13px;
        color: #018999;
        font-family: OpenSans_SemiBold;
        text-transform: uppercase;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;

    }
    /* /padding menu pc*/

    .nav-menu > .menu-item > .menu-link  .fa{
      font-size: 19px;
    }

    .nav-menu > .menu-item.active
    .nav-menu > .menu-item:hover {
        background: #0098da;
    }
    .nav-menu > .menu-item {
        position: relative;
        float: left;
        padding: 0px 0px 0px 0px;
        border-top: 0px;
    }
    .nav-menu,
    .nav {
        background: none;
    }
    .nav-menu > .menu-item.is-active > .menu-link,
    .nav-menu > .menu-item:hover > .menu-link {
        color: #008898; /*color khi hover và active menu pc*/
    }

    .nav-dropdown > .menu-item {
        padding: 0;
        background: #ffffff;
    }
    .nav-menu .menu-link {
        padding: 8px 15px 8px 15px;;
    }
    .nav-dropdown>.menu-item>.menu-link {
        color: #0d0d0d !important;
    }
    .nav-dropdown>.menu-item:hover>.menu-link {
        color: #ffffff !important;
    }
    .nav-menu > .menu-item {
        position: relative;
    }

    .nav-menu > .menu-item:not(:first-child) > .menu-link:before {
        backface-visibility: hidden;
        border: 1px solid rgba(255, 255, 255, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }


    .nav-menu > .menu-item:hover > .menu-link:before {
        backface-visibility: hidden;
        border-color: #008898;
        transition: width 350ms ease-in-out;
        width: 100%;
    }

    .nav-menu > .menu-item:hover > .menu-link:before {
        bottom: auto;
        top: 0;
        width: 100%;
    }
}
